.match {
  padding: $space40 0;
  border-top: 1px solid $gray60;

  &:first-of-type {
    border-top: none;
  }
}

.match__time {
  display: block;
  margin-bottom: $space20;
  font-size: $font30;
  color: $gray40;
  text-align: center;
}

.match__title--only-mobile {
  margin-bottom: $space40;
  font-family: $alt-font-family;
  font-size: $font60;
  text-align: center;
}

.match__title {
  display:flex;
  justify-content: space-around;
  text-align: center;
}

.match__logo {
  padding: $space10;
  width: 72px;
  height: 72px;
  background: $white;
  border: 2px solid $gray10;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0,0,0,.5);
}

.match__img {
  display: block;
  margin: 0 auto;
  max-height: 100%;
}

.match__team-name {
  display: none;
}

.match__goals,
.match__result  {
  font-family: $alt-font-family;
  font-size: $font70;
}

.match__result {
  font-size: $font40;
}
