.match {
  padding: $space40 0 0;
  border-top: 1px solid $gray60;

  &:first-of-type {
    border-top: none;
  }
}

.match__time {
  display: block;
  margin-bottom: $space20;
  font-size: $font30;
  color: $gray40;
  text-align: center;
}

.match__title--only-mobile {
  margin-bottom: $space40;
  font-family: $alt-font-family;
  font-size: $font60;
  text-align: center;
}

.match__title {
  display:flex;
  margin-bottom: $space40;
  text-align: center;

  > * {
    flex: 1 0 0;
    width:33%;
  }
}

.match__logo {
  position: relative;
  margin: 0 auto;
  width: 72px;
  height: 72px;
  border: 2px solid $gray10;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0,0,0,.5);

  &:before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../images/logo--all-teams.svg) top left no-repeat;
    background-size: 400% 800%;
  }
}

.logo--atletico:before {
  background-position: 33.33% 0;
}

.logo--barcelona:before {
  background-position: 66.67% 0;
}

.logo--basel:before {
  background-position: 100% 0;
}

.logo--bayern:before {
  background-position: 0% 14.29%;
}

.logo--benfica:before {
  background-position: 33.33% 14.29%;
}

.logo--besiktas:before {
  background-position: 66.67% 14.29%;
}

.logo--brugge:before {
  background-position: 100% 14.29%;
}

.logo--celtic:before {
  background-position: 0% 28.57%;
}

.logo--dinamo:before {
  background-position: 33.33% 28.57%;
}

.logo--dortmund:before {
  background-position: 66.67% 28.57%;
}

.logo--juve:before {
  background-position: 100% 28.57%;
}

.logo--kiev:before {
  background-position: 0% 42.86%;
}

.logo--kobenhavn:before {
  background-position: 33.33% 42.86%;
}

.logo--legia:before {
  background-position: 66.67% 42.86%;
}

.logo--leicester:before {
  background-position: 100% 42.86%;
}

.logo--leverkusen:before {
  background-position: 0% 57.12%;
}

.logo--ludogorets:before {
  background-position: 33.33% 57.12%;
}

.logo--lyon:before {
  background-position: 66.67% 57.12%;
}

.logo--manchester:before {
  background-position: 100% 57.12%;
}

.logo--moenchengladbach:before {
  background-position: 0% 71.43%;
}

.logo--monaco:before {
  background-position: 33.33% 71.43%;
}

.logo--moskau:before {
  background-position: 66.67% 71.43%;
}

.logo--napoli:before {
  background-position: 100% 71.43%;
}

.logo--paris:before {
  background-position: 0% 85.71%;
}

.logo--porto:before {
  background-position: 33.33% 85.71%;
}

.logo--psv:before {
  background-position: 66.67% 85.71%;
}

.logo--real:before {
  background-position: 100% 85.71%;
}

.logo--rostov:before {
  background-position: 0% 100%;
}

.logo--sevilla:before {
  background-position: 33.33% 100%;
}

.logo--sporting:before {
  background-position: 66.67% 100%;
}

.logo--tottenham:before {
  background-position: 100% 100%;
}

.match__team {
  text-align: center;
}

.match__img {
  display: block;
  margin: 0 auto;
  max-height: 100%;
}

.match__team-name {
  display: none;
}

.match__goals,
.match__result  {
  font-family: $alt-font-family;
  font-size: $font70;
}

.match__result {
  font-size: $font40;
}

.match__bet {
  display: flex;
  margin-bottom: $space30;
  border: 1px solid $gray70;
  line-height: 1.2;
  text-align: center;

  .match__label {
    display: block;
    padding: $space30 0;
    flex: 1;
    border-bottom: 2px solid $gray70;
    border-left: 1px solid $gray70;

    &:first-of-type {
      border-left: none;
    }
  }

  .match__label--10 {
    border-bottom-color: $green;
  }

  .match__label--20 {
    border-bottom-color: $green-light;
  }

  .match__label--30 {
    border-bottom-color: $yellow;
  }

  .match__label--40 {
    border-bottom-color: $orange;
  }

  .match__label--50 {
    border-bottom-color: $red;
  }

  .match__radio:checked + .match__label {
    background: $gray70;
    font-weight: $bold-font-weight;
  }

  .match__radio:disabled + .match__label {
    border-bottom: none;
    color: $gray40;
    cursor: default;
  }
}

.match__radio,
.match__checkbox {
  display: none;
}

.match__label {
  display: inline-block;
  cursor: pointer;
}

.match__superbet {
  margin-bottom: $space30;
  text-align: center;

  .match__label {
    position: relative;
    padding-left: $space40 + $space20;
    line-height: $touch-size;

    &:before {
      content: " ";
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -$space30;
      width: 20px;
      height: 20px;
      border: 1px solid $gray60;
    }
  }

  .match__checkbox:checked + .match__label {
    &:after {
      content: " ";
      display: block;
      position: absolute;
      top: 50%;
      left: 4px;
      margin-top: -8px;
      width:14px;
      height: 14px;
      background: $primary-color;
    }
  }

  .match__checkbox:disabled + .match__label {
    color: $gray40;
    cursor: default;

    &:before {
      border-color: $gray70;
    }

    &:after {
      background: $gray60;
    }
  }
}

.match__superbets-left {
  font-size: $font30;
  color: $gray40;
}
