.table {
  border-collapse: collapse;
  width: 100%;
}

.table__th {
  text-align: left;
}

.table__tr {
  border-bottom: 1px solid $gray70;

  &:first-child {
    border-top: 1px solid $gray70;
  }

  &:nth-child(odd) {
    background: lighten($gray70, 3%);
  }
}

.table__th,
.table__td {
  padding: $space10 $space30;
}
